// Place all the styles related to the admins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.admin-index
{
  margin-top: 120px;
  align-content: center;
}

.vertical
{
  vertical-align: middle;
}

.width
{
  width: 20rem;
}

.margin-top
{
  margin-top: 120px;
}

.width-30
{
  width: 30rem;
}
